# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Database files (if any local SQLite, not for Postgres)
*.sqlite3

# Logs
*.log